body{
 background-image: url("Users\Aluno\Desktop\images.jfif");
 background-size: cover;
  front-family: Arial, sans-serif:
}

h1{
color: #FF0000;
  text-align: center:
}

p {
 font-size: 18px;
  margin-bottom: 20px;
  text-align: 0 20px;
    padding: 0 20px;
    line-heigth: 1.5;
}
  .button {
    backgroud-color: #008080;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}    
    
    .button:hover{
 backgroud-color: #005353;     
}
    
  
